<% if current_user.admin %>
  <p>Show <%= @attraction.name %></p>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% end %>

<%= form_for @attraction, :url => {controller: "attractions", action: "ride", method: "post"}  do |t| %>
  <%= t.hidden_field :id %>
  <%= t.submit "Go on this ride" %>
<% end %>
